# Contains project's virtual environment; needed to use pip.
# NOTE TO SELF: Code will not run on other machines with this 'from scratch' configuration.
# Will need to write install instructions... or embed requests source code directly in the project.
# https://requests.readthedocs.io/en/latest/user/install/#install
*.venv
## Also, as a sidenote, the file extension could be named anything; 'venv' is just a convention.

# shared object binaries
# NOTE: Likely will not need this, added just in case I include a package with C/C++ code.
# Would not want to forget to add later on...
*.so

# Stores bytecode
__pycache__/

# python compiled bytecode (.pyc) files shouldn't exist outside of __pycache__,
# but included just in case a misconfiguration occurs somewhere down the line.
*.pyc

###
# NOTE:
# .pyo (optimized bytecode) was deprecated after version 3.5; some guides suggest ignoring it anyway.
# .pyd (python dynamic library) files are exclusive to windows; unix-based systems use shared object binaries.
# (?) Sometimes windows uses .dll.

# If you want to cover all bases, uncomment below and comment *.pyc. (I just hate including unnecessary code.)
# *.py[cod]